# ── Database ──────────────────────────────────
POSTGRES_USER=myuser
POSTGRES_PASSWORD=mypassword
POSTGRES_DB=myappdb
DB_HOST=postgres
REDIS_HOST=redis
REDIS_PASSWORD=mypassword

# ── JWT ──────────────────────────────────
ACCESS_SECRECT=base-64-secret-key-1
REFRESH_SECRET=base-64-secret-key-2
ACCESS_EXP=600
REFRESH_EXP=86400
MAX_REFRESH_EXP=259200

# ── Backend ────────────────────────────────────
SPRING_PORT=8000
JAVA_ENV=dev

# ── Frontend ────────────────────────────────────
NEXT_PORT=3000
NODE_ENV=development
API_BASE_URL=http://backend:8000/api/v1 #Should NOT match "SPRING_PORT"